{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}
    {{super()}}

    <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet">

{% endblock %}

{% block content %}
<!-- search form -->
<div class="container search" style="margin-left: 25vw;
width:20vw;">
    <form>
        <input type="text" name="news_query" placeholder="Search for news" class="form-control">
        <input type="submit"  value="Search" class="btn btn-default" >
    </form>

</div>
<div class="container">
<div class="row">
    <div class="col-md-4 sources">
    <h2>News sources</h2>
    <ul>{{macro.displaySources(popular_sources)}} </ul>
    </div>
    <div class="col-md-8 trends">
    <h2>Trending news </h2>
    <ul>{{macro.displayTrendingNews(trending_news)}}</ul>
    </div>
</div>
    
</div>


<div class="contacts">
<p>socials</p>
<footer>copyright 2022 Victoria Makena</footer>
</div>





{% endblock %}