{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}
    {{super()}}

    <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet">

{% endblock %}

{% block content %}
<!-- search form -->
<div class="container search" style="margin-left: 40vw;
width:50vw;">
    <form>
        <div class="row">
            <div class="col-md-8">
               <input type="text" name="news_query" placeholder="Search for news" class="form-control"> 
            </div>
            <div class="col-md-4">
                <input type="submit"  value="Search" class="btn btn-default" >
            </div>
        </div>    
    </form>

</div>
<div class="container" style=" width: 100%;">
<div class="row">
    <div class="col-md-4 trends">
    <h2 style="text-align: center;font-weight: bold;">Trending news </h2>
    <hr>
    <ul>{{macro.displayTrendingNews(trending_news)}}</ul>
    </div>
    <div class="col-md-8 sources">
    <h2 style="text-align: center;font-weight: bold;">News sources</h2>
    <hr>
    <ul>{{macro.displaySources(popular_sources)}} </ul>
    </div>
    
</div>
    
</div>


<div class="contacts" style="text-align: center;">

<footer>copyright 2022 Victoria Makena</footer>
</div>





{% endblock %}